#loading {
	font-family: "Myriad Pro";
	font-size: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 950px;
	text-align: center;
	display: none;
}
#flag h1 {
	font-family: "Adelle";
	font-size: 40px;
}

#wrapper {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	display: none;
	padding: 0;
	border: 0;
}

#nav {
	width: 948px;
	height: 30px;
	border: 1px solid #CCC;
	border-radius: 3px;
	margin-bottom: 5px;
	padding-bottom: 3px;
}
#nav ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
}
#nav li {
	float: left;
}
#nav a {
	display: block;

	border-right: 1px solid #CCC;

	padding-left: 10px;
	padding-right: 10px;
	
	text-decoration: none;
	/*background: #666666;*/
	color: black;
	border-radius: 3px;
	font-family: "futura-pt",sans-serif;
	font-size: 24px;
	font-weight: 300;
}
#nav a:first {
	/*margin-left: 0 !important;*/
	border-left: 0;
}
#nav a:hover {
	border-bottom: 3px solid #666;
}

.nav-active {
	background: white;
}
.nav-unactive {
	background: #DDD;
}

#floor-wrapper {
	margin-top: 5px;
	display: none;
}
#floor-selector {
	position: relative;
}

.floor-selector {
	margin-right: 10px;	
	opacity: 0.6;
	position: absolute;
	top: 0;
	display:block;
}

#floor-one {
	right: 640px;
}
#floor-two {
	right: 320px;
}
#floor-three {
	right: 0;
}

.floor-selector img {
	width: 310px;
	height: auto;
	cursor: pointer;
}

.floor-hover {
	opacity: 1.0;
} 

#canvas-map-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	width: 310px;
	height: 310px;
	z-index: 2;
}

#canvas-map {
	/*background:url('/allenhall/images/secondFloorMap.jpg');*/
	background-size: contain;
	width: 310px;
	height: 310px;
	z-index: 5;
}

#backbutton {
	position: absolute;
	right: 60px;
	top: -60px;
	cursor: pointer;
}
#video-wrapper {	
	position: absolute;
	right: 330px;
	/*right: 0;*/
}